
body{
    background-color: rgb(252, 230, 230);
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container{
    border: 1px solid rgb(252, 93, 93);
    display: flexbox;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    border-radius: 20px 20px 0 0;
    box-shadow: 4px 4px rgb(252, 93, 93);
    position: relative;
    padding: 40px;
}

hr{
    border: 1px solid rgb(252, 93, 93);
}

#number{
    height:30px;
     width:400px;
     padding-left:10px;
     border-radius: 10px;
     border: 3px solid rgb(252, 93, 93);
}

#button-number{
    height:35px;
    border-radius: 10px;
    background-color: rgb(252, 93, 93);

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 30px;
    cursor: pointer;
}

#button-number:hover{
    box-shadow: 3px 3px black;
}

form{
    margin-top:20px
}

#year{
    font-size: larger;
    color: rgb(252, 93, 93);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#DOB{
    height:30px;
    width:400px;
    padding-left:10px;
    border-radius: 10px;
    border: 3px solid rgb(252, 93, 93);
}

#button-DOB{
    height:35px;
    border-radius: 10px;
    background-color: rgb(252, 93, 93);
    box-shadow: 3px 3px black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

#AgeBirth{
    height:30px;
    width:400px;
    padding-left:10px;
    border-radius: 10px;
    border: 3px solid rgb(252, 93, 93);
}

#calculate{
    height:35px;
    border-radius: 10px;
    background-color: rgb(252, 93, 93);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 30px;
    cursor: pointer;
}

#calculateAge{
    margin-top: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(252, 93, 93);
    font-size: larger;
}

#calculate:hover{
    box-shadow: 3px 3px black;
}

h3{
    margin-top: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(252, 93, 93);
}

center:last-child{
    margin-bottom: 70px;
    margin-top: -50px;
}


@media only screen and (max-width:600px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0;
        
    }

}